/* pc work */
.black{
    display: block;
    width: 500px;
    height: 800px;
    background-color: black;
}
.img1{
    margin-left: 500px;
    margin-top: -800px;
}
.img2{
    margin-top: 900px;
    margin-left: 650px;
    position: absolute;
}
.img3{
    margin-top: -300px;
    margin-left: 450px;
}
.img4{
    margin-top: -400px;
    margin-top: 50px;
    margin-left: 50px;
}
.img5{
    background-color: black;
    width: 400px;
    height: 300px;
    margin-left: 650px;
    margin-top: -350px;
}
.one{
    width: 500px;
    height: 800px;
}
.two{
    width: 400px;
    height: 300px;
}
.four{
    width: 600px;
    height: auto;
}
.three{
    width: 550px;
    height: 600px;
}
.text{
    font-size: 60px;
    font-weight: bolder;
    color: white;
    margin-top: -500px;
}
.text1{
    color: black;
    width: 250px;
    margin-left: 980px;
    margin-top: -200px;
    font-size: 20px;
}
.text3{
    font-size: 25px;
    color: white;
    margin-top: -51.5px;
    margin-left: 100px;
    border: 1px solid black;
    background-color: coral;
    height: 40px;
    width: 50px;
    padding-top: 10px;
}
.text2{
    color: white;
    margin-left: 5px;
}
.text4{
    font-size: 50px;
    font-weight: bold;
    margin-top: 520px;
    margin-left: 50px;
}
.text5{
    font-size: 18px;
    width: 250px;
    margin-left: 50px;
}
.text6{
    color: white;
    font-size: 46px;
    font-weight: bolder;
}
.text7{
    color: white;
    width: 250px;
    font-size: 18px;
}
.text8{
    color: white;
    font-size: 36px;
    font-weight: bolder;
    padding-left: 20px;
    padding-top: 100px;
}
.text9{
    color: white;
    font-size: 20px;
    width: 400px;
    padding-left: 500px;
    margin-top: -100px;
}
.text10{
    margin-left: 60px;
    margin-top: -60px;
}
.text11{
    font-size: 25px;
    padding-top: 10px;
    background-color: coral;
    width: 50px;
    height: 40px;
}
.button1{
    width: 150px;
    height: 51PX;
    margin-left: 980PX;
    background-color: black;
    position: absolute;
}
.button2{
    width: 180px;
    height: 50px;
    background-color: black;
}
.button2 a{
    text-decoration: none;
    color: white;
}
.button1 a{
    text-decoration: none;
}
.footer{
    width: 100%;
    background-color: black;
    height: 400px;
}
.social{
    padding-left: 1100px;
    margin-top: -290px;
}
svg{
    width: 40px;
    height: 40px;
    color: white;
    padding: 25px;
}















/* mobile work done */
@media screen and (max-width : 1000px){
.black{
    display: none;
}
html,body{
    width: 100%;
    margin: 0%;
}
.img1{
    margin-left: -500px;
    margin-top: +800px;
    display: contents;
}
.text{
    font-size: 100px;
    font-weight: bolder;
    color: black;
    margin-top: 00px;
    margin-left: 5%;
}

.text1{
    color: black;
    width: 75%;
    margin-left: 0;
    margin-top: 0;
    font-size: 45px;
    position: relative;
    margin-left: 5%;
}
.button1{
    width: 70%;
    height: 200PX;
    margin-left: 0%;
    background-color: black;
    position: relative;
    margin-left: 5%;
}
.button1 a{
    text-decoration: none;
    color: white;
}
.text2{
    color: white;
    font-size: 60px;
    padding-top: 30px;
}
.text3{
    font-size: 90px;
    color: white;
    margin-top: -160.5px;
    margin-left: 485px;
    border: 1px solid black;
    background-color: coral;
    height: 170px;
    width: 200px;
    padding-top: 30px;
}
.one{
    width: 100%;
    height: auto;
}
.img2{
    margin-top: 0;
    margin-left: 0px;
    position: relative; 
}
.two{
    margin-left: 5%;
    width: 90%;
    height: auto;
    margin-top: 100px;
}
.img3{
    margin-top: 100px;
    margin-left: 0px;
}
.three{
    margin-left: 5%;
    width: 95%;
    height: auto;
}
.img4{
    margin-top: 100px;
    margin-left: 0px;
    margin-left: 0%;
    width: 95%;
}
.four{
    width: 90%;
    height: auto;
    margin-left: 5%;
}
.img5{
    background-color: black;
    height: 500px;
    margin-left: 0px;
    margin-top: 0px;
    margin-left: 5%;
    width: 90%;
}
.text4{
    font-size: 100px;
    font-weight: bolder;
    margin-top: 0px;
    margin-left: 0px;
    margin-left: 5%;
}
.text5{
    width: 80%;
    font-size: 45px;
    margin-left: 0px;
    margin-left: 5%;
}
.text6{
    color: white;
    font-size: 80px;
    font-weight: bolder;
    padding-left: 20px;
}
.text7{
    color: white;
    font-size: 40px;
    width: 60%;
    padding-left: 20px;
}
.text8{
    color: white;
    font-size: 66px;
    font-weight: bolder;
    padding-left: 20px;
    padding-top: 100px;
    margin-left: 5%;
}
.text9{
    color: white;
    font-size: 50px;
    width: 70%;
    padding-left: 0px;
    margin-top: 0px; 
    margin-left: 5%;
}
.text11{
    font-size: 105px;
    width: 150px;
    height: 140px;
}
.text10{
    font-size: 50px;
    margin-left: 180px;
    margin-top: -200px;
}
.footer{
    width: 100%;
    height: 800px;
}
.social{
    color: red;
    padding-left: 00px;
    margin-top: -200px;
    height: auto;
    margin-left: 5%;
}
svg{
    width: 60px;
    height: 60px;
    color: white;
    padding: 25px;
}
iframe{
    height: 1600px;
}
.button2{
    width: 500px;
    height: 150PX;
    margin-left: 50px;
}




}


